
.WelcomeTitle {
    font-size: 25pt;
    text-align: center;
}

.LinksSection{
    

    font-size: 20pt;

    text-align: center;
}

.LColumn{
    text-align: left;
}

.RColumn{
    text-align: right;
}

.CenterSection{
    font-family: 'Times New Roman', Times, serif;

    font-size: 20pt;

    text-align: center;
}

.TerminalSections{
    font-family:Terminal;

    p {color:white;
    
        background-color: black;
    }
}

.CentralColumn{
    text-align: center;
}